plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/anle/Downloads/AI/WBA/HACK/start-bare/dist"
publishOrigin = "ui"
commandOrigin = "ui"
command = "bun run build"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]